:root {
  --fondo: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1035%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(14%2c 15%2c 23%2c 1)'%3e%3c/rect%3e%3cpath d='M1231.005%2c589.304C1276.399%2c590.322%2c1321.245%2c567.258%2c1341.588%2c526.665C1360.365%2c489.197%2c1340.707%2c447.873%2c1320.2%2c411.323C1299.049%2c373.625%2c1274.217%2c330.687%2c1231.005%2c329.575C1186.641%2c328.433%2c1154.33%2c367.338%2c1133.486%2c406.518C1114.11%2c442.939%2c1109.272%2c485.493%2c1128.691%2c521.891C1149.296%2c560.512%2c1187.242%2c588.323%2c1231.005%2c589.304' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M755.392%2c159.803C787.357%2c160.484%2c813.025%2c136.992%2c829.446%2c109.559C846.423%2c81.197%2c855.896%2c46.92%2c840.455%2c17.693C824.13%2c-13.206%2c790.338%2c-30.898%2c755.392%2c-30.606C720.941%2c-30.319%2c688.2%2c-11.702%2c672.753%2c19.093C658.574%2c47.359%2c670.594%2c79.249%2c686.608%2c106.517C702.351%2c133.322%2c724.313%2c159.141%2c755.392%2c159.803' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1155.075%2c589.98C1182.838%2c588.882%2c1208.084%2c576.127%2c1223.5%2c553.011C1241.058%2c526.683%2c1253.102%2c493.44%2c1238.003%2c465.628C1222.408%2c436.901%2c1187.749%2c426.07%2c1155.075%2c426.975C1124.089%2c427.833%2c1095.593%2c443.374%2c1079.737%2c470.01C1063.497%2c497.291%2c1059.706%2c531.933%2c1076.591%2c558.82C1092.635%2c584.369%2c1124.93%2c591.172%2c1155.075%2c589.98' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M427.293%2c649.226C458.341%2c649.087%2c488.901%2c634.283%2c503.051%2c606.647C516.243%2c580.883%2c504.288%2c551.876%2c490.039%2c526.681C475.481%2c500.941%2c456.833%2c474.079%2c427.293%2c472.695C395.946%2c471.226%2c369.032%2c493.036%2c353.461%2c520.281C338.02%2c547.3%2c334.884%2c580.326%2c350.347%2c607.332C365.9%2c634.494%2c395.993%2c649.367%2c427.293%2c649.226' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1002.716%2c357.141C1045.156%2c355.511%2c1084.936%2c334.355%2c1105.311%2c297.09C1124.933%2c261.201%2c1117.009%2c219.061%2c1098.018%2c182.834C1077.223%2c143.166%2c1047.492%2c102.424%2c1002.716%2c101.387C956.74%2c100.323%2c922.349%2c138.356%2c899.45%2c178.237C876.67%2c217.912%2c862.63%2c265.908%2c885.501%2c305.531C908.375%2c345.159%2c956.994%2c358.897%2c1002.716%2c357.141' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M715.101%2c115.245C746.654%2c113.302%2c768.512%2c87.787%2c784.746%2c60.661C801.598%2c32.504%2c817.651%2c-0.871%2c801.785%2c-29.596C785.583%2c-58.93%2c748.536%2c-67.692%2c715.101%2c-65.432C685.62%2c-63.439%2c662.44%2c-44.04%2c646.587%2c-19.105C629.122%2c8.365%2c614.04%2c41.262%2c628.828%2c70.261C644.62%2c101.227%2c680.407%2c117.381%2c715.101%2c115.245' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M346.373%2c643.636C395.113%2c642.968%2c433.098%2c605.911%2c456.573%2c563.191C479.059%2c522.269%2c483.393%2c474.291%2c462.324%2c432.622C438.918%2c386.331%2c398.167%2c348.075%2c346.373%2c345.239C289.911%2c342.147%2c232.318%2c368.48%2c206.12%2c418.592C181.335%2c466.002%2c202.52%2c520.881%2c230.816%2c566.283C257.092%2c608.445%2c296.698%2c644.317%2c346.373%2c643.636' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1035'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  --colorLetras: white;
  --blurFondoHeader: rgba(0, 0, 0, 0.3);
  --blurFondo: rgba(31, 31, 31, 0.5);
  --textGrandeColor: linear-gradient(
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 132, 0, 1) 100%
  );
  --github: url("./assets/github.png");
  --link: url("./assets/link.png");
  --email: url("./assets/correo-electronico_2.png");
  --phone: url("./assets/telefono_2.png");
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
  --headerFondo: #0e0f17;
}

.dark-mode {
  --fondo: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1104%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M252.26%2c636.004C283.227%2c635.6%2c314.902%2c626.304%2c331.062%2c599.885C347.853%2c572.434%2c346.315%2c537.227%2c329.44%2c509.828C313.331%2c483.673%2c282.977%2c471.729%2c252.26%2c471.934C221.942%2c472.136%2c193.077%2c485.239%2c176.843%2c510.846C159.356%2c538.43%2c152.953%2c574.017%2c169.809%2c601.991C186.255%2c629.284%2c220.398%2c636.42%2c252.26%2c636.004' fill='rgba(255%2c 191%2c 191%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M661.837%2c396.037C688.072%2c395.585%2c709.235%2c377.739%2c723.025%2c355.416C737.729%2c331.613%2c746.989%2c303.152%2c734.763%2c277.986C721.089%2c249.838%2c693.13%2c229.747%2c661.837%2c229.465C630.11%2c229.18%2c600.949%2c248.354%2c586.603%2c276.653C573.423%2c302.652%2c581.343%2c332.93%2c596.884%2c357.591C611.261%2c380.405%2c634.875%2c396.502%2c661.837%2c396.037' fill='rgba(255%2c 191%2c 191%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M380.363%2c268.716C418.442%2c265.766%2c445.81%2c237.415%2c466.376%2c205.232C489.324%2c169.322%2c513.257%2c127.899%2c494.943%2c89.419C474.724%2c46.936%2c427.327%2c21.669%2c380.363%2c24.502C337.233%2c27.104%2c308.985%2c64.47%2c287.461%2c101.935C266.047%2c139.21%2c246.772%2c183.068%2c267.691%2c220.623C288.989%2c258.858%2c336.727%2c272.096%2c380.363%2c268.716' fill='rgba(255%2c 191%2c 191%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1223.581%2c185.435C1256.53%2c184.863%2c1285.29%2c163.775%2c1300.513%2c134.548C1314.642%2c107.422%2c1310.487%2c75.261%2c1294.567%2c49.146C1279.341%2c24.17%2c1252.831%2c8.162%2c1223.581%2c8.349C1194.647%2c8.534%2c1169.633%2c25.601%2c1154.147%2c50.043C1137.298%2c76.636%2c1127.513%2c109.289%2c1141.879%2c137.301C1157.338%2c167.446%2c1189.708%2c186.023%2c1223.581%2c185.435' fill='rgba(255%2c 191%2c 191%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1183.626%2c395.717C1232.759%2c395.837%2c1288.575%2c393.862%2c1313.947%2c351.787C1339.837%2c308.853%2c1319.3%2c256.104%2c1293.867%2c212.898C1268.912%2c170.504%2c1232.78%2c132.362%2c1183.626%2c130.396C1131.437%2c128.309%2c1083.359%2c158.348%2c1056.974%2c203.424C1030.308%2c248.979%2c1025.372%2c307.068%2c1054.407%2c351.151C1081.268%2c391.934%2c1134.792%2c395.597%2c1183.626%2c395.717' fill='rgba(255%2c 191%2c 191%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1290.266%2c666.989C1348.51%2c668.739%2c1405.587%2c638.71%2c1432.387%2c586.969C1457.501%2c538.482%2c1440.281%2c481.229%2c1410.027%2c435.771C1383.301%2c395.615%2c1338.493%2c374.415%2c1290.266%2c373.429C1239.997%2c372.401%2c1188.307%2c388.024%2c1161.708%2c430.692C1133.705%2c475.611%2c1136.907%2c532.355%2c1162.204%2c578.852C1188.747%2c627.64%2c1234.75%2c665.321%2c1290.266%2c666.989' fill='rgba(255%2c 191%2c 191%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1007.841%2c30.141C1024.14%2c30.061%2c1033.647%2c13.8%2c1041.818%2c-0.303C1050.02%2c-14.46%2c1059.661%2c-30.945%2c1051.423%2c-45.082C1043.215%2c-59.168%2c1024.124%2c-59.412%2c1007.841%2c-58.611C993.323%2c-57.897%2c978.479%2c-53.656%2c971.099%2c-41.133C963.621%2c-28.445%2c966.531%2c-13.056%2c973.279%2c0.035C980.783%2c14.591%2c991.465%2c30.222%2c1007.841%2c30.141' fill='rgba(255%2c 191%2c 191%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1104'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  --colorLetras: black;
  --blurFondoHeader: rgba(181, 181, 181, 0.3);
  --blurFondo: rgba(181, 181, 181, 0.5);
  --textGrandeColor: linear-gradient(
    rgba(255, 0, 0, 1) 0%,
    rgba(138, 0, 0, 1) 100%
  );
  --github: url("./assets/github_negro.png");
  --link: url("./assets/link_negro.png");
  --email: url("./assets/correo-electronico.png");
  --phone: url("./assets/telefono.png");
  --headerFondo: white;
}
body {
  background-image: var(--fondo);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Lexend", sans-serif;
  transition: background-image 0.5s ease;
}

/* Dropdwon style */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-trigger img {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-menu {
  position: absolute;
  top: 90px;
  right: 10px;
  background-color: var(--blurFondoHeader);
  backdrop-filter: blur(10px);
  transition: background-color 0.5s ease;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 250px;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding: 15px 0;
  font-weight: 500;
  color: var(--colorLetras);
  line-height: 1.2rem;
}

.dropdown-menu ul li, a{
  color: var(--colorLetras);
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
  cursor: pointer;
  transition: text-shadow 0.3s, font-size 0.3s, margin-inline 0.3s;
}

.dropdown-menu ul li:hover a {
  text-shadow: 0 0 5px rgba(255, 0, 0, 1);
  font-size: 1.2em;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin: 10px auto;
}

.dropdownItem img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem span, a span {
  max-width: 150px;
  margin-left: 10px;
  transition: var(--speed);
}

span,
h2 {
  color: var(--colorLetras);
  transition: color 0.5s ease;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 1000;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.scrolled {
  background-color: var(--blurFondoHeader);
  backdrop-filter: blur(10px);
  transition: background-color 0.5s ease;
}

.containerHeaderSpan {
  gap: 20px;
  align-items: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.highlightable {
  position: relative;
  cursor: pointer;
  transition: text-shadow 0.3s, font-size 0.3s, margin-inline 0.3s;
}

.highlightable:hover {
  text-shadow: 0 0 5px rgba(255, 0, 0, 1);
  font-size: 1.2em;
  margin-inline: 12px;
}

/* Claro / oscuro */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
  margin-inline: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a7a7a7;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #6d6d6d;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #000000;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #a7a7a7;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #a7a7a7;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

/* Home */
.home {
  margin-inline: 100px;
}
.containerSpanName {
  display: inline;
}
h1 {
  background-image: var(--textGrandeColor);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background-image 0.5s ease;
}

.containerHomeIntroduction {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.containerPhotoIntroductionHome img {
  width: 300px;
}
.containerSpan {
  max-width: 600px;
}
.fotoCodgio {
  flex: 1;
  max-width: 100%;
  display: flex;
  max-height: 100%;
  justify-content: center;
  margin-left: 30px;
}

.fotoCodgio img {
  max-width: 80%;
  height: auto;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: borderRise 9s ease-in-out infinite;
}
@keyframes borderRise {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: translateY(0);
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    transform: translateY(-5%);
  }
}
.hero-img {
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-image: url(./assets/foto_perfil.png);
  width: 35rem;
  height: 35rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 30rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 30rem;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.conainterInfo {
  flex: 1;
}

.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px 25px 0px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(181, 181, 181 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.socialContainerInfo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: black;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active .socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 30px;
  height: 30px;
}
.socialSvgInfo {
  width: 20px;
  height: 20px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialSvgInfo path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

.socialContainerInfo:hover .socialSvgInfo {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Habilidades */
.containerHabilidades {
  background-color: var(--blurFondo);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.5s ease;
  border-radius: 10px;
}

.tootltip {
  background-color: var(--headerFondo);
  padding: 5px;
  border-radius: 5px;
}
.containerHabilidades img {
  width: 55px;
  margin: 5px; /* Espacio entre imágenes */
  padding: 5px; /* Espacio dentro del borde */
}
.containerSpanHabilidades {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
}

.containerImgHabilidades {
  display: flex;
  flex: 5 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* Sobre mí */

.containerSobreMi {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.containerInformacioSobreMi {
  background-color: var(--blurFondo);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 20px;
  transition: background-color 0.5s ease;
  margin-left: 20px;
}
.containerInformacioSobreMi p {
  color: var(--colorLetras);
  max-width: 700px;
  transition: color 0.5s ease;
}
.containerInformacioSobreMi h2 {
  background-image: var(--textGrandeColor);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background-image 0.5s ease;
}

/* Proyectos */
.containerProyectos {
  margin-top: 10rem;
}

.containerProyectosp {
  margin-bottom: 3rem;
}
.containerCardProyectos {
  grid-gap: 5rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
  justify-items: center;
}

.containerProyectos h2 {
  background-image: var(--textGrandeColor);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background-image 0.5s ease;
}

.containerProyectos p {
  color: var(--colorLetras);
  max-width: 600px;
}
.fotoProyecto {
  width: 500px;
  border-radius: 10px;
}
.cardProyecto {
  border-radius: 10px;
  display: flex;
  padding: 20px;
  background-color: var(--blurFondo);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  justify-content: space-between;
  transition: transform 0.3s ease, background-color 0.5s ease;
}
.cardProyecto:hover {
  transform: scale(1.05);
}
.infoProyecto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 20px;
}

.cardProyecto h3 {
  color: var(--colorLetras);
}

.cardProyectoEnalce {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.aEnlace {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.highlightableProyecto {
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-block: 5px;
  padding-inline: 20px;
  border-radius: 5px;
}

.highlightableProyecto:hover {
  background-color: var(--blurFondo);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
}

.fotoEnlace {
  margin-left: 10px;
  width: 40px;
}

.fotoEnlaceGit {
  margin-left: 10px;
  width: 40px;
  height: 40px; /* Asegurarse de especificar una altura */
  background-image: var(--github); /* Ajusta la ruta aquí */
  background-size: cover;
  transition: background-image 0.5s ease;
}

.fotoEnlaceLink {
  margin-left: 10px;
  width: 40px;
  height: 40px; /* Asegurarse de especificar una altura */
  background-image: var(--link); /* Ajusta la ruta aquí */
  background-size: cover;
  transition: background-image 0.5s ease;
}

/* Experiencia */
* {
  box-sizing: border-box;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.containerExperiencia {
  padding: 10px 50px 0px 0px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.containerExperiencia:nth-child(1) {
  animation-delay: 0s;
}
.containerExperiencia:nth-child(2) {
  animation-delay: 1s;
  padding-left: 50px;
  padding-right: 0px;
}
.containerExperiencia:nth-child(3) {
  animation-delay: 2s;
}

.left-containerExperiencia {
  left: 0;
}
.right-containerExperiencia {
  left: 50%;
}
.right-containerExperiencia img {
  left: -20px;
}
.containerExperiencia img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.right-containerExperiencia img {
  width: 40px;
  height: 40px;
}

.text-box ul {
  color: var(--colorLetras);
  transition: color 0.5s ease;
}

.text-box {
  padding: 20px 30px;
  background-color: var(--blurFondo);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  transition: background-color 0.5s ease;
}

.text-box li {
  margin-top: 10px;
}

.text-box h2 {
  font-weight: 600;
  color: var(--colorLetras);
  transition: color 0.5s ease;
}
.text-box small {
  display: inline-block;
  margin-bottom: 15px;
  color: var(--colorLetras);
  transition: color 0.5s ease;
}
.text-box p {
  color: var(--colorLetras);
  transition: color 0.5s ease;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: var(--colorLetras);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 3s linear forwards;
  transition: background-color 0.5s ease;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.left-containerExperiencia-arow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--blurFondo);
  right: -14px;
  transition: border-left 0.5s ease;
}

.right-containerExperiencia-arow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--blurFondo);
  left: -14px;
  transition: border-right 0.5s ease;
}
/* Footer */

.footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  background-color: var(--blurFondo);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
  transition: background-color 0.5s ease;
  flex-direction: column;
}

.footer h1 {
  margin-top: 20px;
}

.footerEmail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerFooter {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.cardFooter {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(181, 181, 181 0.055);
  flex-direction: row;
}
.fotoEmail {
  width: 70px;
  height: 70px;
  background-image: var(--email);
  background-size: cover;
  transition: background-image 0.5s ease;
  margin-right: 10px;
}

.conatinerFooterEmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 20px;
  margin-block: 10px;
}

.conatinerFooterEmail:nth-child(1) {
  animation: pulseAnimation 2s infinite;
}

@keyframes pulseAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.footerEmail a {
  color: var(--colorLetras);
  transition: background-color 0.5s ease;
  font-size: 20px;
}

.footerEmail a:hover {
  color: lightblue;
}

.footerEmail p {
  color: var(--colorLetras);
  transition: background-color 0.5s ease;
  font-size: 20px;
  margin: 0px;
}

.fotoPhone {
  width: 70px;
  height: 70px;
  background-image: var(--phone);
  background-size: cover;
  transition: background-image 0.5s ease;
  margin-right: 10px;
}

.containerTextoFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerTextoFooter small {
  color: grey;
  font-size: 19px;
}

.headerNombre {
  color: var(--colorLetras);
  transition: color 0.5s ease;
  margin-left: 10px;
}

.containerLanguaje {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 800px) {
  .header {
    background-color: var(--headerFondo);
    transition: background-color 0.5s ease;
    height: 80px;
  }
  .containerHabilidades {
    background-color: var(--blurFondo);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.5s ease;
  }

  .home {
    margin-inline: 20px;
  }
  .containerHomeIntroduction {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .containerSpan {
    max-width: 100%;
  }

  .conainterInfo {
    flex: 0;
  }

  .cardProyectoEnalce {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    height: 400px;
  }
  .containerFooter {
    flex-direction: column;
  }

  .fotoEmail {
    width: 50px;
    height: 50px;
  }

  .fotoPhone {
    width: 50px;
    height: 50px;
  }

  .containerTextoFooter small {
    color: grey;
    font-size: 15px;
  }

  .footerEmail a {
    font-size: 17px;
  }

  .socialContainer {
    width: 50px;
    height: 50px;
  }

  .socialSvg {
    width: 20px;
    height: 20px;
}
}

@media (max-width: 1000px) {
  .containerSobreMi {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerInformacioSobreMi {
    margin-top: 20px;
    margin-left: 0px;
  }

  .hero-img {
    height: 22rem;
    width: 22rem;
  }
}

@media (max-width: 1100px) {
  .cardProyecto:hover {
    transform: scale(1.02);
  }
  .cardProyecto {
    flex-direction: column;
  }

  .fotoProyecto {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .containerExperiencia,
  .containerExperiencia:nth-child(2) {
    width: 100%;
    padding-left: 80px;
    padding-right: 0px;
  }

  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-containerExperiencia {
    left: 0;
  }

  .left-containerExperiencia img,
  .right-containerExperiencia img {
    left: 10px;
  }

  .left-containerExperiencia-arow,
  .right-containerExperiencia-arow {
    border-right: 15px solid var(--blurFondo);
    border-left: 0;
    left: -14px;
  }

  .containerLanguaje {
    margin-left: 10px;
  }
  .containerHeaderSpan {
    gap: 15px;
  }
}

/* Habilidades */

.menu-container {
  margin-right: 10px;
}
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--colorLetras);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out, background 0.5s ease;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-50%);
}

.burger input:checked ~ span:nth-of-type(1) {
  top: 0;
  left: 5px;
  transform: rotate(405deg);
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  top: 28px;
  left: 5px;
  transform: rotate(-405deg);
}