body {
  /* Fondo de rallas y puntos  */
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1032%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(14%2c 15%2c 23%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1039' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1039' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1032'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1034'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1038'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1033'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1035'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1036'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1037'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1039'%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='30' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='30' y='90' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='30' y='150' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='30' y='210' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='30' y='270' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='330' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='390' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='30' y='450' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='510' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='570' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='90' y='30' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='90' y='90' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='150' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='90' y='210' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='270' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='90' y='330' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='90' y='390' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='450' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='90' y='510' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='90' y='570' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='30' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='150' y='90' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='150' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='150' y='210' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='270' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='330' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='150' y='390' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='150' y='450' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='150' y='510' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='570' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='210' y='30' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='90' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='150' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='210' y='210' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='210' y='270' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='210' y='330' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='210' y='390' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='450' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='510' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='570' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='30' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='90' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='270' y='150' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='270' y='210' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='270' y='270' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='270' y='330' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='390' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='270' y='450' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='270' y='510' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='270' y='570' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='30' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='330' y='90' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='150' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='330' y='210' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='270' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='330' y='330' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='330' y='390' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='450' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='510' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='570' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='390' y='30' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='390' y='90' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='150' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='390' y='210' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='390' y='270' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='390' y='330' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='390' y='390' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='450' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='510' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='570' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='450' y='30' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='450' y='90' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='450' y='150' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='450' y='210' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='450' y='270' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='450' y='330' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='450' y='390' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='450' y='450' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='450' y='510' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='450' y='570' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='510' y='30' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='510' y='90' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='150' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='510' y='210' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='270' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='510' y='330' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='510' y='390' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='510' y='450' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='510' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='510' y='570' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='30' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='570' y='90' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='570' y='150' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='210' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='570' y='270' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='570' y='330' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='570' y='390' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='450' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='510' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='570' y='570' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='630' y='30' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='630' y='90' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='630' y='150' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='630' y='210' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='630' y='270' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1037' x='630' y='330' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='630' y='390' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='630' y='450' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='630' y='510' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='630' y='570' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='690' y='30' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='90' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='690' y='150' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='210' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1038' x='690' y='270' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='690' y='330' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='690' y='390' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='690' y='450' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='690' y='510' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='690' y='570' stroke='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e"); */
  /* Fondo de circulos rojos animados */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1035%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(14%2c 15%2c 23%2c 1)'%3e%3c/rect%3e%3cpath d='M1231.005%2c589.304C1276.399%2c590.322%2c1321.245%2c567.258%2c1341.588%2c526.665C1360.365%2c489.197%2c1340.707%2c447.873%2c1320.2%2c411.323C1299.049%2c373.625%2c1274.217%2c330.687%2c1231.005%2c329.575C1186.641%2c328.433%2c1154.33%2c367.338%2c1133.486%2c406.518C1114.11%2c442.939%2c1109.272%2c485.493%2c1128.691%2c521.891C1149.296%2c560.512%2c1187.242%2c588.323%2c1231.005%2c589.304' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M755.392%2c159.803C787.357%2c160.484%2c813.025%2c136.992%2c829.446%2c109.559C846.423%2c81.197%2c855.896%2c46.92%2c840.455%2c17.693C824.13%2c-13.206%2c790.338%2c-30.898%2c755.392%2c-30.606C720.941%2c-30.319%2c688.2%2c-11.702%2c672.753%2c19.093C658.574%2c47.359%2c670.594%2c79.249%2c686.608%2c106.517C702.351%2c133.322%2c724.313%2c159.141%2c755.392%2c159.803' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1155.075%2c589.98C1182.838%2c588.882%2c1208.084%2c576.127%2c1223.5%2c553.011C1241.058%2c526.683%2c1253.102%2c493.44%2c1238.003%2c465.628C1222.408%2c436.901%2c1187.749%2c426.07%2c1155.075%2c426.975C1124.089%2c427.833%2c1095.593%2c443.374%2c1079.737%2c470.01C1063.497%2c497.291%2c1059.706%2c531.933%2c1076.591%2c558.82C1092.635%2c584.369%2c1124.93%2c591.172%2c1155.075%2c589.98' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M427.293%2c649.226C458.341%2c649.087%2c488.901%2c634.283%2c503.051%2c606.647C516.243%2c580.883%2c504.288%2c551.876%2c490.039%2c526.681C475.481%2c500.941%2c456.833%2c474.079%2c427.293%2c472.695C395.946%2c471.226%2c369.032%2c493.036%2c353.461%2c520.281C338.02%2c547.3%2c334.884%2c580.326%2c350.347%2c607.332C365.9%2c634.494%2c395.993%2c649.367%2c427.293%2c649.226' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1002.716%2c357.141C1045.156%2c355.511%2c1084.936%2c334.355%2c1105.311%2c297.09C1124.933%2c261.201%2c1117.009%2c219.061%2c1098.018%2c182.834C1077.223%2c143.166%2c1047.492%2c102.424%2c1002.716%2c101.387C956.74%2c100.323%2c922.349%2c138.356%2c899.45%2c178.237C876.67%2c217.912%2c862.63%2c265.908%2c885.501%2c305.531C908.375%2c345.159%2c956.994%2c358.897%2c1002.716%2c357.141' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M715.101%2c115.245C746.654%2c113.302%2c768.512%2c87.787%2c784.746%2c60.661C801.598%2c32.504%2c817.651%2c-0.871%2c801.785%2c-29.596C785.583%2c-58.93%2c748.536%2c-67.692%2c715.101%2c-65.432C685.62%2c-63.439%2c662.44%2c-44.04%2c646.587%2c-19.105C629.122%2c8.365%2c614.04%2c41.262%2c628.828%2c70.261C644.62%2c101.227%2c680.407%2c117.381%2c715.101%2c115.245' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M346.373%2c643.636C395.113%2c642.968%2c433.098%2c605.911%2c456.573%2c563.191C479.059%2c522.269%2c483.393%2c474.291%2c462.324%2c432.622C438.918%2c386.331%2c398.167%2c348.075%2c346.373%2c345.239C289.911%2c342.147%2c232.318%2c368.48%2c206.12%2c418.592C181.335%2c466.002%2c202.52%2c520.881%2c230.816%2c566.283C257.092%2c608.445%2c296.698%2c644.317%2c346.373%2c643.636' fill='rgba(79%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1035'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  /* Fondo de circulos blancos animados */
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(14%2c 15%2c 23%2c 1)'%3e%3c/rect%3e%3cpath d='M1310.393%2c611.053C1353%2c608.505%2c1392.399%2c589.747%2c1415.165%2c553.642C1439.662%2c514.792%2c1448.627%2c466.333%2c1427.292%2c425.66C1404.528%2c382.263%2c1359.381%2c355.208%2c1310.393%2c353.904C1259.021%2c352.536%2c1208.745%2c375.136%2c1182.19%2c419.134C1154.777%2c464.554%2c1151.935%2c523.51%2c1181.403%2c567.624C1208.413%2c608.058%2c1261.854%2c613.956%2c1310.393%2c611.053' fill='rgba(31%2c 31%2c 31%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M992.982%2c737.849C1041.863%2c740.837%2c1089.4%2c716.082%2c1114.198%2c673.852C1139.294%2c631.115%2c1137.767%2c577.489%2c1112.011%2c535.146C1087.214%2c494.381%2c1040.693%2c474.066%2c992.982%2c474.577C946.221%2c475.077%2c900.096%2c496.281%2c878.285%2c537.647C857.634%2c576.813%2c872.968%2c622.031%2c894.978%2c660.45C917.157%2c699.163%2c948.449%2c735.127%2c992.982%2c737.849' fill='rgba(31%2c 31%2c 31%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M700.527%2c238.712C742.559%2c238.982%2c781.316%2c212.419%2c798.96%2c174.269C814.461%2c140.753%2c797.885%2c103.747%2c777.048%2c73.26C759.352%2c47.37%2c731.887%2c30.202%2c700.527%2c30.251C669.254%2c30.3%2c641.906%2c47.571%2c624.423%2c73.5C604.143%2c103.577%2c589.086%2c140.068%2c604.264%2c173.016C621.685%2c210.834%2c658.891%2c238.444%2c700.527%2c238.712' fill='rgba(31%2c 31%2c 31%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1015.705%2c645.754C1054.747%2c646.138%2c1089.952%2c623.564%2c1109.59%2c589.818C1129.35%2c555.862%2c1132.647%2c513.449%2c1112.232%2c479.883C1092.504%2c447.447%2c1053.669%2c435.353%2c1015.705%2c435.452C977.947%2c435.551%2c939.349%2c447.934%2c920.047%2c480.385C900.372%2c513.463%2c905.697%2c554.685%2c924.968%2c588C944.209%2c621.263%2c977.28%2c645.376%2c1015.705%2c645.754' fill='rgba(31%2c 31%2c 31%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1359.143%2c524.876C1391.505%2c527.71%2c1424.079%2c509.504%2c1438.431%2c480.36C1451.6%2c453.62%2c1437.461%2c423.74%2c1421.275%2c398.711C1406.838%2c376.385%2c1385.729%2c357.52%2c1359.143%2c357.75C1332.886%2c357.977%2c1311.108%2c376.551%2c1298.842%2c399.768C1287.4%2c421.426%2c1290.102%2c446.237%2c1300.737%2c468.303C1313.35%2c494.472%2c1330.204%2c522.342%2c1359.143%2c524.876' fill='rgba(31%2c 31%2c 31%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1387.73%2c487.32C1433.403%2c485.304%2c1472.861%2c458.556%2c1496.014%2c419.135C1519.502%2c379.144%2c1524.98%2c330.86%2c1503.883%2c289.557C1480.738%2c244.244%2c1438.595%2c208.462%2c1387.73%2c207.139C1334.82%2c205.762%2c1286.743%2c237.198%2c1260.615%2c283.227C1234.82%2c328.67%2c1233.894%2c385.131%2c1261.519%2c429.485C1287.741%2c471.587%2c1338.178%2c489.507%2c1387.73%2c487.32' fill='rgba(31%2c 31%2c 31%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M869.286%2c619.575C897.502%2c619.195%2c929.389%2c616.394%2c943.229%2c591.802C956.913%2c567.486%2c941.841%2c539.44%2c928.027%2c515.197C914.014%2c490.604%2c897.546%2c463.626%2c869.286%2c462.033C839.008%2c460.327%2c813.205%2c481.716%2c797.837%2c507.86C782.232%2c534.407%2c775.215%2c567.902%2c791.807%2c593.844C807.522%2c618.415%2c840.122%2c619.968%2c869.286%2c619.575' fill='rgba(31%2c 31%2c 31%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
  background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del body */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed;
  /* background-color: 0e0f17; */
  font-family: 'REM', sans-serif;
}

span,
h2 {
  color: white;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease; /* Transiciones suaves */
  z-index: 1000; /* Asegura que el header esté por encima del contenido */
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
}
.header.scrolled {
  background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
}
.containerHeaderName span {
  margin-left: 10px;
}
.containerHeaderSpan {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.highlightable {
  position: relative;
  cursor: pointer;
  transition: text-shadow 0.3s, font-size 0.3s, margin-left 0.3s;
}

.highlightable:hover {
  text-shadow: 0 0 5px rgba(255, 0, 0, 1);
  font-size: 1.2em;
  margin-left: 12px; /* Aumentar el margen para empujar a los demás elementos */
}

/* Home */
.home {
  margin-inline: 50px;
}
.containerSpanName {
  display: inline;
}

.containerSpanName h1 {
  font-size: 2em; /* Ajusta el tamaño de la fuente según tus necesidades */
  background-image: linear-gradient(45deg, red, orange);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.containerHomeIntroduction {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.containerPhotoIntroductionHome img {
  width: 300px;
}
.containerSpan {
  max-width: 600px;
}
.hero-img {
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-image: url(./assets/foto_perfil.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 35rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 35rem;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px 25px 0px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: black;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Habilidades */
.containerHabilidades {
  background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  display: flex;
  align-items: center;
}
.containerHabilidades img {
  width: 40px;
  margin: 5px; /* Espacio entre imágenes */
  padding: 5px; /* Espacio dentro del borde */
}
.containerSpanHabilidades {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.containerImgHabilidades {
  display: flex;
  flex: 5 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Footer */

.footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  background-color: #64a4af;
}

@media (max-width: 700px) {
  .containerHabilidades {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
}

/* Habilidades */
